= form_for @recipe do |f|
	= f.text_field :title, class: 'form-control', placeholder: 'Name...'
	%br
	= f.text_area :description, class: 'form-control', placeholder: 'Description...'
	%br
	= f.submit class: 'btn btn-primary'
	%br
	%br