.row
	.col-md-4#pic
		.panel.panel-default
			.panel-heading
				.panel-title= @recipe.title
			.panel-body= image_tag "bruschetta"

	.col-md-7.col-md-offset-1
		.panel.panel-default
			.panel-heading
				.panel-title Description
			.panel-body
				%p= @recipe.description
%br/
%br/
.row
	.col-md-6
		.panel.panel-default
			.panel-heading Ingredients
			.panel-body
				%p SKDASDKAKSD

	.col-md-6
		.panel.panel-default
			.panel-heading Instructions
			.panel-body
				%p SKDASDKAKSD
