.row
	.col-md-4
		.panel.panel-info
			.panel-heading
				.panel-title
					%h2= @recipe.title

	.col-md-7.col-md-offset-1
		.panel.panel-warning
			.panel-heading SDSAD
			.panel-body
				%p SKDASDKAKSD
%br/
%br/
.row
	.col-md-6
		.panel.panel-default
			.panel-heading SDSAD
			.panel-body
				%p SKDASDKAKSD

	.col-md-6
		.panel.panel-default
			.panel-heading SDSAD
			.panel-body
				%p SKDASDKAKSD
